{% extends "base.html" %}
{% block content %}
<section class="vh-100" style="background-color: white;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11" >
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-3">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4" style="font-size: 38px;">Sign up</p>
                  <p class="text-center h5 mb-4 mx-1 mx-md-4 mt-4" style="font-size: 14px;">가입이 완료되면 홈으로 이동됩니다.</p>

  
                  <form class="mx-1 mx-md-4" method="POST" action="{% url 'user:signup' %}">
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="username" name="username" class="form-control" value="{{ form.username.value|default_if_none:''}}">
                        <label class="form-label" for="username">사용자 이름</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="8자리 이상 조합의 비밀번호 입력" value="{{ form.password1.value|default_if_none:''}}">
                        <label class="form-label" for="password" placeholder="Password">비밀번호</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="8자리 이상 조합의 비밀번호 입력" value="{{ form.password2.value|default_if_none:''}}">
                        <label class="form-label" for="password">비밀번호 확인</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="email" name="email" class="form-control" value="{{ form.email.value|default_if_none:''}}" />
                        <label class="form-label" for="email">이메일</label>
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">등록하기</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/static/img/vis_img(register1).webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}